.Photos h3 {
  color: #ff9a76;
  margin-bottom: 15px;
}
.Photos {
  background: #fffdfb;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
}

.Photos img {
  transition: transform 0.2s ease-in-out;
}

.Photos img:hover {
  transform: scale(1.05);
}
