.Results {
  text-align: left;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.Results h2 {
  color: #ff9a76;
  text-transform: capitalize;
}

.phonetic {
  color: #888;
  font-style: italic;
}
